
:root
{
    --wpm:30vw;
    --hpm:50vh;
    --eleWidth:26vw;
    --bgcolor:black;
    --eleHeight:8px;
}
/* here we need to display none for showing the font path */
#fontPath
{
    width:100vw;
    height:100vh;
    border:3px solid blue;
    display: flex;
    align-items: center;
    flex-direction: column;
  /* display: none; */
    position:relative;
    background:-webkit-linear-gradient(top,blue, yellow);
}
/* here styling the title */
#title
{
    /* border:3px solid red; */
    text-align:center;
    width:30vw;
    position: relative;
    top: 30px;
    font-weight:bold;
    box-sizing: border-box;
    text-shadow: 5px 5px 1px red;
    font-size:30px;
    color:white;

}
/* here styling the play button */

#play
{
display: block;
width:100px;
height:50px;
margin-top: 30vh;
font-size:23px;
border-radius:10px;
box-shadow: 0px 3px  3px  4px  yellow;
background-color:green;
font-weight: bold;
transition-property: all;
transition-duration: 5s;
}
body:hover #play
{
transform: rotate(30deg);
transform: rotate(-30deg);
}


/* here desigining the palyground backend side */
#backPath
{
    display: none;
    display:flex;
    height:100vh;
    width:100vw;
    flex-direction:column;
    background: -webkit-linear-gradient(left,red,blue);
    align-items:center;
    justify-content:center;
    position: absolute;
    border:3px solid yellow;
    top:0px;
    z-index: -1;
}
/* here desigining the answer displayer */
#backPath #resultDisp
{
   display: flex;
   flex-direction: row;
   margin-bottom:100px;
}
.item
{
    width:30px;
    height:30px;
    font-size:20px;
    font-style:bold;
    box-sizing:border-box;
    margin-left:5px;
    text-transform:uppercase;
    font-weight:bold;
    padding:2px;
    text-align:center;
    border-bottom:3px solid black;
    
  
}
#playModel
{
    width:30vw;
    height:50vh;
    border:3px solid blue;
    background-color:blue;
    border-radius:10px;
    position:relative;
    bottom:10%;
}
/* here creating the body of the man */
#stand1[data='false']
{
    display: none;
}
#stand1
{
  
    height:var(--eleHeight);
   width:var(--eleWidth);
    margin:auto;
    background-color: var(--bgcolor);
    margin-top:48vh;
   
}
#stand2[data='false']
{
    display: none;
}
#stand2
{
    width:40vh;
    background-color: var(--bgcolor);
    height:var(--eleHeight);
    margin-left:362px;
    transform: rotate(90deg);
    margin-top:-179px;
  
   
}
#stand3[data='false']
{
    display: none;
}
#stand3
{
    background-color:var(--bgcolor) ;
    width: 250px;
    height:var(--eleHeight);
   position: relative;
   left:287px;
   top:-21vh;

   
}
#head[data='false']
{
    display: none;
}
#head
{
    width:50px;
    height:50px;
    border-radius: 50%;
    position: relative;
    left:268px;
    top:-24vh;
    border:3px solid black;
    background-color: white;
}
#body[data='false']
{
    display: none;
}
#body
{
    height: var(--eleHeight);
    width:200px;
    position: relative;
    top:-13vh;
    left:194px;
    transform: rotate(90deg);
    background-color: var(--bgcolor);
}
#handLeft[data='false']
{
    display: none;
}
#handLeft
{
    width:100px;
    height:var(--eleHeight);
    transform: rotate(-30deg);
    position: relative;
    left:207px;
    top:-15vh;;
    background-color: var(--bgcolor);

}
#handRight[data='false']
{
    display: none;
}
#handRight
{
    width:100px;
    height:var(--eleHeight);
    transform: rotate(30deg);
    position: relative;
    left:287px;
    top:-16vh;;
    background-color: var(--bgcolor);


}
#legLeft[data='false']
{
    display: none;
}
#legLeft
{
    width:100px;
    height:var(--eleHeight);
    transform: rotate(-30deg);
    position: relative;
    left:203px;
    top:-2vh;
    background-color: var(--bgcolor);
}
#legRight[data='false']
{
    display: none;
}
#legRight
{
    width:100px;
    height:var(--eleHeight);
    transform: rotate(30deg);
    position: relative;
    left:288px;
    top:-3vh;;
    background-color: var(--bgcolor);
 
}
/* here ending the body of the man */
.keypad
{
    /* border:3px solid red; */
    width:30px;
    line-height: 30px;
    height:30px;
  text-align:center;
    display:inline-block;
    text-transform: uppercase;
border-radius: 10px;
    color:black;
    margin-left:2px;
    font-weight:bold;
    padding:1px;
    border-radius:10px;
    opacity: 101px;
    background-color: bisque;
    align-items:center;
}

#keyboard
{
    /* border:3px solid green; */
    background-color:aquamarine;
    width:21vw;
    height:19vh;
    margin: auto;
    border-radius:10px;
    padding:10px;
}
#clickArea
{
    max-width:20vw;
    background-color:antiquewhite;
    margin:auto;
    border-radius:10px;
    margin-top:10px;
    text-align:center;
    max-height: 18vh;
}
#hintContainer
{
    width:15vw;
    height:20vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    position:absolute;
    top:0%;
    left:50%;
}
#hintContainer  #hintTitle
{
width:200px;
height:150px;
background: white;
color:balck;
text-align:center;
border-radius:10px;
border:3px solid green;
display:none;

}
/* here desinging the hint area */
#hintBtn
{
    width:40px;
    height:40px;
    background-color:rgb(0, 0, 0);
    color:white;
    font-size:20px;
    font-weight:bold;
    opacity:100;
    display:block;
    margin-left:57%;
    line-height:30px;
    padding:2px;
    border-radius:10px;
    box-sizing: border-box;

}
#hintBtn:hover + #hintTitle
{
    display:block;
}
/* here writing code for tryagain */
#tryagainBody
{
width:100pvh;
height:100vh;
border:3px solid red;
background-color:black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.twTitle
{
    color:rgba(255, 255, 255, 0.719);
    text-align:center;
    background-color:rgba(0, 0, 255, 0.359);
    width:30vw;
    display: block;
    margin-bottom: 200px;
    border-radius:10px;
    line-height: 6vh;
    height:6vh;
    margin-top: 10vh;
    
}
#bodyExit
{
  
    width:30vw;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:3px solid blue;
    background-color:rgba(0, 0, 255, 0.237);
    border-radius:10px;
    position:relative;
    bottom:10%; 
}
.btn
{
    width:100px;
    height:50px;
    color:rgba(255, 255, 255, 0.793);
    margin-top:50px;
    background-color:brown;
    border-radius:10px;
    font-weight:bold;
    font-size:15px;

}
#correctAnswer
{
    color:rgba(255, 255, 255, 0.719);
    text-align:center;
    background-color:rgba(0, 0, 255, 0.359);
    width:30vw;
    border-radius:10px;
    line-height: 6vh;
    height:6vh; 
}
.home
{
    width:200px;
    margin-bottom:300px;
}

.eleClear
{
    display: none;
}
/* starting to make responsive website using medial query */
@media only screen and (max-width:530px)
{
    #title
    {
        margin-top:30px;
        font-size:20px;
    }
    #title h1 
    {
        text-align:center;
        margin: auto;
    }
       

}
@media only screen and (max-width:752px)
{
    #resultDisp
    {
        margin-top:5%
    }
    #playModel
    {
        width:90vw;
        height:35vh;
        bottom: 1%;
        background-color: brown;
        margin: auto;
    }
    #fontPath
    {
        width:100vw;
    }
    #keyboard
    {
        height:10vh;
       width:50vw;
        margin:auto;
    }
    #clickArea
    {
   max-width:50vw;
   margin: auto;

    background-color:white;
        }
    
        .keypad
        {
            width:3vw;
            height:4vh;
            margin: auto;
        }
:root
{
    --wpm:30vw;
    --hpm:50vh;
    --eleWidth:78vw;
    --bgcolor:black;
    --eleHeight:8px;
}
    
#stand1
{
  
    height:var(--eleHeight);
   width:var(--eleWidth);
    margin:auto;
    background-color: var(--bgcolor);
    margin-top:33vh;
    position:relative;
   
}

#stand2
{
    width:27vh;
    margin-left:71%;
    margin-top:-24%;
  position: relative;
   
}

#stand3
{
    
    width: 40%;
   left:49%;
   top:32%;
   position: fixed;
   
}

#head
{
    top:-38%;
    left:42%;
    position:relative;
}

#body
{
    width:26%;
    top:-18%;
    left:35%;
    position:relative;
}

#handLeft
{
    
    left:30%;
    top: -30%;
    
    position:relative;
}

#handRight
{
    left:47%;
    top:-32%;
    position:relative;

}

#legLeft
{
    left:30%;
    top: -1%;

    position:relative;
}

#legRight
{
   left:42%;
    top: -1%;
    position:relative;
}
.home
{
   margin-left:25%;
}
}
